body {
  background: var(--bg);
  color: var(--col);
  font-family: var(--font);
  font-size: var(--size);
  margin: 4em;
  text-shadow: var(--shadow);
}

a {
  color: var(--link);
}

a:hover {
  text-decoration: none;
}

h1 {
  text-align: center;
}

table {
  background: var(--col);
  box-shadow: var(--shadow);
}

td, th {
  background: var(--bg);
  padding: 4px;
}
