:root {
  --bg: #FB6B90;
  --col: #EFEBE0;
  --font: "Trebuchet MS";
  --link: #FAC0D0;
  --shadow: 2px 2px 5px #FB4570;
}

body {
  background: var(--bg);
  color: var(--col);
  font-family: var(--font);
  font-size: 20px;
  margin: 4em;
  text-shadow: var(--shadow);
}

a {
  color: var(--link);
}

a:hover {
  text-decoration: none;
}

h1 {
  text-align: center;
}
